{
  extends: "airbnb",
  env: {
    mocha: true,
  },
  rules: {
    'import/no-extraneous-dependencies': [
      'error',
      {
        'devDependencies': ['*/**/*.integration.js', '*/**/*.spec.js'],
        'optionalDependencies': false,
        'peerDependencies': false
      }
    ],
    'consistent-return': 0,
    'no-else-return': 0,
    'no-bitwise': 0,
    'no-param-reassign': 0,
    'no-console': 0, // Maybe add better logging, turn on again
    'comma-dangle': ["error", {
        "arrays": "always",
        "objects": "only-multiline",
        "imports": "ignore",
        "exports": "ignore",
        "functions": "ignore"
    }]
  }
}
