{
  extends: "airbnb",
  env: {
    mocha: true,
  },
  rules: {
    'consistent-return': 0,
    'no-else-return': 0,
    'no-bitwise': 0,
    'no-param-reassign': 0,
    'no-console': 0, // Maybe add better logging, turn on again
  }
}
